* {
  margin: 0;
  padding: 0;
  font-family: "Grandstander", cursive;
}
.header {
  color: #0081a7;
  text-shadow: 5px 1px 3px violet;
  display: block;
  font-size: 80px;
  background-image: url(./heading\ picture.jpg);
  background-repeat: round;
  height: 400px;
  text-align: center;
}
.sub_links {
  text-align: center;
  position: relative;
  top: 0px;
  font-size: 40px;
  display: block;
}
.link {
  color: black;
}
.link:hover {
  font-size: 45px;
  color: green;
}
.sub_title {
  font-size: 50px;
  text-shadow: none;
  position: relative;
  top: 25px;
}
.name {
  font-size: 30px;
  top: 5px;
  text-shadow: none;
  position: relative;
}
.email {
  font-size: 30px;
  top: 5px;
  text-shadow: none;
  position: relative;
}
.description {
  font-size: 30px;
  text-shadow: none;
  position: relative;
}
