* {
  margin: 0;
  padding: 0;
  font-family: "Grandstander", cursive;
}
.header {
  color: #0081a7;
  text-shadow: 5px 1px 3px violet;
  display: block;
  font-size: 80px;
  background-image: url(./heading\ picture.jpg);
  background-repeat: round;
  height: 400px;
  text-align: center;
}
.vision {
  color: black;
  display: block;
  position: absolute;
  top: 450px;
  font-size: 50px;
}
.text {
  font-size: 20px;
  text-shadow: none;
  color: forestgreen;
  display: block;
  position: absolute;
  top: 530px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./beach.jpeg);
  height: 480px;
  z-index: 0;
}

.sub_links {
  text-align: center;
  position: relative;
  top: 0px;
  font-size: 40px;
  display: block;
}
.link {
  color: black;
}
.link:hover {
  font-size: 45px;
  color: green;
}
.featured {
  position: relative;
  z-index: 2;
  font-size: 50px;
  color: red;
}
.products {
  font-size: 30px;
}
.mango {
  color: yellow;
}
.caramel {
  color: brown;
}
.strawberry {
  color: pink;
  text-shadow: none;
}
img {
  width: 100%;
  height: auto;
}
.copyright {
  color: black;
  text-shadow: none;
  font-size: 20px;
}
.back_to_top {
  font-size: 20px;
}
.back_to_top:hover {
  font-size: 25px;
}
